<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>WebSocket Chat</h1>
        <div id="messages" class="messages"></div>
        <input id="messageInput" type="text" placeholder="Habar ýaz..." />
        <button id="sendButton">Ibermek</button>
    </div>
    <script src="script.js"></script>
</body>

</html>